{% load static %}

   <section class="footer">

        <div class="box-container">

        <div class="box">

            <h3>Our Services</h3>
            <a href="{% url 'home' %}"><i class="fas fa-chevron-right"></i>Home</a>
            <a href="{% url 'doctors' %}"><i class="fas fa-chevron-right"></i>Doctors</a>
            <a href="{% url 'book' %}"><i class="fas fa-chevron-right"></i>Book</a>
            <a href="{% url 'about' %}"><i class="fas fa-chevron-right"></i>About</a>
            <a href="{% url 'contact' %}"><i class="fas fa-chevron-right"></i>Contact</a>
            <a href="#"><i class="fas fa-chevron-right"></i>Staff Login</a>
       
        </div>
        
        <div class="box"> 

            <h3>Our Working Days</h3>
            <a href="{% url 'home' %}"><i class="fas fa-chevron-right"></i>Monday 7:30AM to 8:00PM</a>
            <a href="{% url 'home' %}"><i class="fas fa-chevron-right"></i>Tuesday 7:30AM to 8:00PM</a>
            <a href="{% url 'home' %}"><i class="fas fa-chevron-right"></i>Wednesday 7:30AM to 8:00PM</a>
            <a href="{% url 'home' %}"><i class="fas fa-chevron-right"></i>Thursday 7:30AM to 8:00PM</a>
            <a href="{% url 'home' %}"><i class="fas fa-chevron-right"></i>Friday 7:30AM to 8:00PM</a>
            <a href="{% url 'home' %}"><i class="fas fa-chevron-right"></i>Community Services</a>
       
        </div>

        <div class="box"> 

            <h3>Contact Info</h3>
            <a href="{% url 'home' %}"><i class="fas fa-phone"></i> +2347039627780</a>
            <a href="{% url 'home' %}"><i class="fas fa-phone"></i> +2349068546885</a>
            <a href="{% url 'home' %}"><i class="fas fa-envelope"></i> nobis10@gmail.com</a>
            <a href="{% url 'home' %}"><i class="fas fa-envelope"></i> nobis10@gmail.com</a>
            <a href="{% url 'home' %}"><i class="fas fa-map-marker-alt"></i> Mile six, off Numan road - 4049</a>
                   
        </div>

        <div class="box"> 

            <h3>Follow Us</h3>
            <a href="https://web.facebook.com/profile.php?id=100086362830564"><i class="fab fa-facebook"></i> Nobis Eye Center</a>
            <a href="https://twitter.com/NOBISEYECENTRE"><i class="fab fa-twitter"></i> Nobis Eye Center</a>
            <a href="https://www.instagram.com/nobiseyecentre/"><i class="fab fa-instagram"></i> Nobis Eye Center</a>
            <a href="{% url 'about' %}"><i class="fab fa-whatsapp"></i> Nobis Eye Center</a>
            <a href="{% url 'about' %}"><i class="fab fa-telegram"></i> Nobis Eye Center</a>
            <a href="{% url 'about' %}"><i class="fab fa-linkedin"></i> Nobis Eye Center</a>
                   
        </div>

    </div>

    <div class="credit"> Created By <span> DreamerWeb </span> </div>

    </section>       